{% extends "base_nologin.html" %}

{% block content %}
    <div class="col-lg-12">
        <h2>{{event.title}}</h2>
        <div>
            <div>{{event.description|linebreaksbr}}</div>
        </div>
        <div id="map" class="col-lg-12"></div>
    </div>
{% endblock %}

{% block css %}
    {% include "event/event_css.html" %}
{% endblock %}

{% block script %}
    {% include "event/event_js.html" %}
    <script type="text/javascript">
    {% if event.location %}
        addMarker({lat:{{event.lat}}, lng:{{event.lng}}})
    {% endif %}
    </script>
{% endblock %}