{% extends "base.html" %}

{% block content %}
    <form role="form" method="post" action="{% url 'event-edit' event.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{event.id}}">
        <input type="hidden" name="lat" id="lat" class="form-control" value="{{event.lat}}">
        <input type="hidden" name="lng" id="lng" class="form-control" value="{{event.lng}}">
        <div class="form-group">
            <label>Nome do evento</label>
            <input type="text" name="title" class="form-control" placeholder="Nome do evento" value="{{event.title}}" required>
        </div>

        <div class="form-group">
            <label>Imagem</label>
            <input type="file" name="image" value="{{event.image}}">
        </div>

         <div class="form-group">
            <label>Descrição</label>
            <textarea name="description" class="form-control" placeholder="Descrição" rows="3" required>{{event.description}}</textarea>
        </div>

        <div class="row">
            <div class='col-md-6 col-xs-6 col-sm-6'>
                <div class="form-group">
                    <label>Data Inicial</label>
                    <div class='input-group date' id='date_start'>
                        <input type='text' class="form-control" name="date_start" value="{{event.date_start}}" />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class='col-md-6 col-xs-6 col-sm-6'>
                <div class="form-group">
                    <label>Data Final</label>
                    <div class='input-group date' id='date_end'>
                        <input type='text' class="form-control" name="date_end" value="{{event.date_end}}" />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div id="map"></div>
        </div>
        
        <div class="form-group">
            <button type="submit" class="btn btn-default">Editar evento</button>
        </div>
    </form>
{% endblock %}

{% block css %}
    {% include "event/event_css.html" %}
{% endblock %}

{% block script %}
    {% include "event/event_js.html" %}
    <script type="text/javascript">
    {% if event.location %}
        addMarker({lat:{{event.lat}}, lng:{{event.lng}}})
    {% endif %}
    </script>
{% endblock %}