{% extends "base.html" %}

{% block content %}
    <form role="form" method="post" action="{% url 'event-edit' event.id %}">
        <input type="hidden" name="id" value="{{event.id}}">
    {% csrf_token %}
        <div class="form-group">
            <label>Nome do evento</label>
            <input type="text" name="title" class="form-control" placeholder="Nome do evento" value="{{event.title}}" required>
        </div>

         <div class="form-group">
            <label>Descrição</label>
            <textarea name="description" class="form-control" placeholder="Descrição" rows="3" required>{{event.description}}</textarea>
        </div>

        <div class="row">
            <div class="container row">
                <div class='col-md-5 col-xs-6 col-sm-5'>
                    <div class="form-group">
                        <label>Data Inicial</label>
                        <div class='input-group date' id='date_start'>
                            <input type='text' class="form-control" name="date_start" value="{{event.date_start}}" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-md-5 col-xs-6 col-sm-5'>
                    <div class="form-group">
                        <label>Data Final</label>
                        <div class='input-group date' id='date_end'>
                            <input type='text' class="form-control" name="date_end" value="{{event.date_end}}" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div id="map"></div>
        </div>
        
        <div class="form-group">
            <button type="submit" class="btn btn-default">Editar evento</button>
        </div>
{% endblock %}

{% block css %}

    <link href="{{ STATIC_URL }}bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet">

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <style>
#map { height: 180px; }
    </style>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ STATIC_URL }}moment-with-locales.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript">
    $('#date_start').datetimepicker({
        locale: 'pt-BR'
    });
    $('#date_end').datetimepicker({
        locale: 'pt-BR'
    });
    $("#date_start").on("dp.change",function (e) {
    $('#date_end').data("DateTimePicker").minDate(e.date);
    });
    $("#date_end").on("dp.change",function (e) {
    $('#date_start').data("DateTimePicker").maxDate(e.date);
    });
    </script>

    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

    <script type="text/javascript">
    var map = L.map('map').setView([51.505, -0.09], 13);


    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18
}).addTo(map);

    </script>
{% endblock %}